.App {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appContainer {
}

.addTodoForm {
  margin: 0 Auto;
}
.addTodoForm .todoInput {
  width: 80%;
  max-width: 400px;
  height: 30px;
  font-size: 18px;
}
.addTodoForm .todoBtn {
  margin-left: 10px;
  font-size: 18px;
  padding: 5px 20px;
}

.todoListContainer {
  text-align: left;
}

.todoList {
  list-style: none;
  margin: 20px 10px;
  font-size: 18px;
}

.listItem {
  display: flex;
  border-bottom: 1px dashed #CCCCCC;
  padding: 10px 0;
}
.listItem:last-child {
  border: none;
}

.listItem .itemCheckboxContainer {
  flex: 0;
  margin-right: 8px
}
.listItem .itemText {
  flex: 5;
}
.itemText.done {
  text-decoration: line-through;
  color: #ccc;
}
.listItem .itemActionsContainer {
  flex: 1;
  text-align: right;
}

.deleteItem {
  background-color: red;
  color: white;
  font-weight: 800;
  border: none;
  padding: 4px 7px;
  cursor: pointer;
}